

<head>
  
  
  
</head>

<p id="notice"><%= notice %></p>

<body>
    
  <% @posts.each do |post|%>
      <h1>Posts mais recentes</h1>
      
          <h2>post.title</h2> <%= image_tag post.img_post, width:25, height:25%>
          
          <br>
          <p>post.body</p>
          <p>post.created_at</p> <p>post.author</p></p>
          <br>
          
          <p>post.commentary</p>
  
  <%end%>
  
  
  
  
</body>



<h1>Posts</h1>


<br>

<%= link_to 'New Post', new_post_path %>
