<div class = "conteiner">
  <div class = "form-group d-flex justify-content-center">
    <h1>Editar post</h1>
  </div>

<%= render 'form', post: @post %>

<div class="field form-group">
    <div class="actions col-md-6 offset-md-3">  
      <%= link_to 'Visualizar', @post, :class => "badge badge-light" %> |
      <%= link_to 'Voltar', :back, :class => "badge badge-light" %>
    </div>
</di>
</div>