
<div class = "conteiner">
    <div class = "form-group d-flex justify-content-center">
      <h1>Novo post</h1>
    </div>

<%= render 'form', post: @post %>


<div class="actions form-group">
      <div class="col-md-6 offset-md-3">
        <%= link_to 'Voltar', posts_path %>
      </div>
    </div>
