// Place all the styles related to the Commentaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-control {
     width: 100%
}

textarea {
    resize: none;
}

tr td a {
    color: black !important;
}

p {
    text-align: justify;
}