/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
  *= require_self
  *= require bootstrap/dist/css/bootstrap
 */
 
/*ul li a {*/
/*  border: 0;*/
/*  display: block;*/
/*  color: black;*/
/*}*/

.btn-secondary{
  padding: 0;
  background-color: rgb(51, 51, 51);
  margin: 0;
}

.dropdown {
  border: none;
  position: relative;
  display: inline-block;
}

.dropdown .btn {
  border: none;
  background-color: inherit !important;
}

.dropdown .btn:focus {
  border: none;
  background-color: inherit !important;
}

.dropdown-menu a {
  color: black !important;
}

.dropdown-menu a:active {
  background-color: #6C757F;
}