<div class = "conteiner">    
    <div class = "form-group d-flex justify-content-center">
        <h1>Editar Categoria</h1>
    </div>

    <%= render 'form', category: @category %>
    
    <%= link_to 'Visualizar', @category, :class => "badge badge-light" %> |
    <%= link_to 'Voltar', categories_path, :class => "badge badge-light" %>
</div>